.productGrid{
flex: 80%;
padding: 10px;
margin: 0;
box-sizing: border-box;
display: flex;
align-content: flex-start;
flex-direction: row;
justify-content: flex-start;
flex-wrap: wrap;
}
.migasCont{
flex:100%;
}
.migasCont h1{
  color: #fafafa;
}
@media screen and (max-width: 700px) {
    .productGrid {
      flex-direction: column;
    }
  }