.menuContainer {
    display: flex;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px 10px;
    color: #e2e2e2;
    cursor: pointer;
}
.menu li a {
    text-decoration: none;
    color: #e2e2e2;
    width: 100%;
    padding: 10px 15px;

}
.open.menuLi >a{
    color: #ffffff;
}
.closed.menuLi ul{
display: none;
}
