.menuContainer {
    display: flex;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px 10px;
    color: #fafafa;
    cursor: pointer;
}
.closed.menuLi ul{
display: none;
}
.menu li a {
    text-decoration: none;
    color: #fafafa;
    width: 100%;

}