.menuContainer {
    display: flex;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px 10px;
    color: #e2e2e2;
    cursor: pointer;
}

.menu li a {
    text-decoration: none;
    color: #e2e2e2;
    padding: 10px 90px 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.open.menuLi>a {
    color: #ffffff;
}

.closed.menuLi ul {
    display: none;
}