.sideBar {
    padding: 10px;
    box-sizing: border-box;
    background: rgb(74, 74, 114);
    flex: 20%;
    /* max-width: 500px; */
}

.sideBar h1 {
    color: #fafafa;
}

.show{
    display: initial;
}
.hide{
    display: none;
}