body,
main {
  padding: 0;
  margin: 0;
  outline: 0;
  background: rgb(145 122 106);
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  min-height: calc(100vh - 80px);
}

@media screen and (max-width: 700px) {
  .mainContent {
    flex-direction: column;
  }
}